@charset "utf-8";
.bosluk{width: 100%;

 margin-left: auto;
 margin-right: auto;
height:400px;
background-image: url(images/banner3.jpg);
} 

textarea#bicim {
        width: 600px;
        height: 120px;
	resize: none;
	display: block;
  text-align:left;
  margin:0 auto;
  padding-top: 27px;
  margin-left: auto;
	valign:top;
}
input#bicim1{
	 width: 600px;
	display: block;
  margin:0 auto;
  padding-top: 5px;
  margin-left: auto;
	valign:top;
	
}
footer{

position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;


}
.ortala{
  display: block;
  position: relative;
  overflow: hidden;
  text-align:left;
  margin:0 auto;
  padding-top: 27px;
  width: 90%;
  margin-left: auto;
  height: 600px;
}

p{
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	font-style: normal;
	text-align: center;
	
}
p#yeni{
valign:top;
}
h3{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	font-style: normal;
	text-align: center;}
section
{height: 300px}

#header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    top: 0;
    line-height: 2.7;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 2
}
#bosluk ul {
    list-style:none;
	margin:0px; padding:0px; }
body{

	background-color: #E6E6FA;
}
*{
	margin: 0;
	padding: 0;

}
header{
	height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {

    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #42AEB8;
}
.bosluk ul {
	display:block;
	margin:0;
	text-align:center;
	padding:0
}
.bosluk ul li {
	list-style:none;
	display:inline-block
}
.bosluk ul li a {
	display:block;
	background:#333;
	color:#fff;
	font-size:12px;
	padding:20px 20px;
	text-decoration:none;
}
.bosluk ul li a:hover {
	background:#42AEB8;
}
.bosluk ul li ul {
	display:none;
	position:absolute;
	background:#333;
	width:200px;
}
.bosluk ul li ul li {
	display:block
}
.bosluk ul li:hover > a {
	background:#42AEB8;
}
.bosluk ul li ul li a {
	background:#333;
	text-align:left
}
.bosluk ul li ul li a:hover {
	background:#333;
}
.bosluk ul li:hover ul {
	display:block
}


